<!-- Follow Buttons -->
<div class="follow-buttons text-center">
    {% if site.facebook.username %}
        <a class="btn btn-primary btn-facebook" href="https://facebook.com/{{ site.facebook.username }}" itemprop="sameAs" role="button">
            <i class="fab fa-facebook-f"></i>
        </a>
    {% endif %}
    {% if site.twitter_username %}
        <a class="btn btn-primary btn-twitter" href="https://twitter.com/{{ site.twitter_username }}" itemprop="sameAs" role="button">
            <i class="fab fa-twitter"></i>
        </a>
    {% endif %}
    {% if site.instagram_username %}
        <a class="btn btn-primary btn-instagram" href="https://instagram.com/{{ site.instagram_username }}" itemprop="sameAs" role="button">
            <i class="fab fa-instagram"></i>
        </a>
    {% endif %}
    {% if site.linkedin_username %}
        <a class="btn btn-primary btn-linkedin" href="https://www.linkedin.com/in/{{ site.linkedin_username }}" itemprop="sameAs" role="button">
            <i class="fab fa-linkedin-in"></i>
        </a>
    {% endif %}
    {% if site.youtube.profile and site.youtube.name %}
        <a class="btn btn-primary btn-youtube" href="https://youtube.com/{{ site.youtube.profile }}/{{ site.youtube.name }}" itemprop="sameAs" role="button">
            <i class="fab fa-youtube"></i>
        </a>
    {% endif %}
    {% if site.telegram_username %}
        <a class="btn btn-primary btn-telegram" href="https://t.me/{{ site.telegram_username }}" itemprop="sameAs" role="button">
            <i class="fab fa-telegram-plane"></i>
        </a>
    {% endif %}
    {% if site.foursquare_username %}
        <a class="btn btn-primary btn-foursquare" href="https://foursquare.com/{{ site.foursquare_username }}" itemprop="sameAs" role="button">
            <i class="fab fa-foursquare"></i>
        </a>
    {% endif %}
    {% if site.github_username %}
        <a class="btn btn-primary btn-github" href="https://github.com/{{ site.github_username }}" itemprop="sameAs" role="button">
            <i class="fab fa-github"></i>
        </a>
    {% endif %}
    {% if site.gitlab_username %}
        <a class="btn btn-primary btn-gitlab" href="https://gitlab.com/{{ site.gitlab_username }}" itemprop="sameAs" role="button">
            <i class="fab fa-gitlab"></i>
        </a>
    {% endif %}
    <a class="btn btn-primary btn-rss" href="{{ "/feed.xml" | prepend: site.baseurl }}" role="button">
        <i class="fas fa-rss"></i>
    </a>
</div>
<!-- Follow Buttons End -->
