<div class='image no-ads-here text-center mb-3' itemscope itemtype='http://schema.org/ImageObject'>
<a href='{% if include.link %}{{ include.link }}{% else %}{{ include.src }}{% endif %}' title='{{ include.caption }}'>
<img src='{{ include.src }}' alt='{{ include.caption }}' class='img-fluid img-thumbnail' itemprop='contentUrl'{% if include.style %} style="{{ include.style }}"{% endif %}>
</a>
{% if include.caption %}
<em class='caption d-block mt-3' itemprop='description'>
{{ include.caption | markdownify }}
</em>
{% endif %}
</div>
