<div class="offcanvas offcanvas-start" tabindex="-1" id="mobile-navbar">
    <div class="offcanvas-header">
        <a class="navbar-brand" href="{{ site.baseurl }}/">
            <img src="{{ '/assets/favicons/favicon.svg' | prepend: site.baseurl }}" alt="" width="28" height="28" class="d-inline-block align-text-top">
            {{ site.title }}
        </a>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body pt-0">
        <form action="{% if site.google.cse_id %}{{ "/search/" | prepend: site.baseurl }}{% else %}https://www.google.com/search{% endif %}" class="form-inline" id="mobile-navbar-search-form" method="get" role="search">
            {% if site.google.cse_id %}
            {% else %}
                <input type="hidden" name="as_sitesearch" value="{{ site.baseurl | prepend: site.url }}" />
            {% endif %}
            <div class="input-group">
                <input class="form-control me-2" id="mobile-navbar-search-field" name="q" placeholder="Search" type="text" aria-label="Search">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary my-2 my-sm-0" id="mobile-navbar-search-button">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
        <ul class="nav flex-column mt-3">
            {% if site.navigation %}
                {% for link in site.navigation %}
                    <li class="nav-item">
                        <a class="nav-link ps-0" href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a>
                    </li>
                {% endfor %}
            {% else %}
                {% for page in site.pages %}
                    {% if page.title and page.autogen == nil %}
                        <li class="nav-item">
                            <a class="nav-link ps-0" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </ul>
    </div><!-- .offcanvas-body -->
</div><!-- .offcanvas -->
