<div class="card mb-3" id="about">
    <div class="card-header">
        <h3><a name="about"></a>About</h3>
    </div>
    <div class="card-body" itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
        <p class='text-center' itemprop='logo' itemscope itemtype='http://schema.org/ImageObject'>
            <a href='{{ site.image | prepend: site.baseurl | replace: "//", "/" | prepend: site.url }}' itemprop='url'>
                <img src='{{ site.image | prepend: site.baseurl | replace: "//", "/" | prepend: site.url }}' class='img-fluid img-thumbnail rounded-circle'>
            </a>
            <!--<meta itemprop="width" content=""/>--><!-- TODO Image width -->
            <!--<meta itemprop="height" content=""/>--><!-- TODO Image height -->
        </p>
        <p class="lead text-center">
            <a href="{{ site.baseurl | prepend: site.url }}" itemprop="url">
                <span itemprop="name">{{ site.title }}</span>
            </a>
        </p>
        <p class="text-center" itemprop="description">
            {{ site.description }}
        </p>
    </div><!-- .card-body -->
</div><!-- .card -->

<div class="card mb-3" id="author">
    <div class="card-header">
        <h3><a name="author"></a>Author</h3>
    </div>
    <div class="card-body" itemprop="author" itemscope itemtype="http://schema.org/Person">
        {% if site.author.email %}
            <p class="text-center">
                <a href='{{ site.author.email | to_secure_gravatar }}' title='{{ site.author.name }}'>
                    <img src='{{ site.author.email | to_secure_gravatar }}' alt='{{ site.author.name }}' class='img-fluid img-thumbnail rounded-circle'>
                </a>
            </p>
        {% endif %}
        {% if site.author.name %}
            <p class="lead text-center" itemprop="name">
                {{ site.author.name }}
            </p>
        {% endif %}
        <ul class="contact-list list-unstyled">
            {% if site.author.site %}
                <li><a href="{{ site.author.site }}" itemprop="url"><i class="fas fa-globe"></i> {{ site.author.site }}</a></li>
            {% endif %}
            {% if site.author.email %}
                <li><a href="mailto:{{ site.author.email }}" itemprop="email"><i class="fas fa-envelope"></i> {{ site.author.email }}</a></li>
            {% endif %}
        </ul>
        {% if site.shareaholic.site_id and site.shareaholic.follow_buttons_app_id and jekyll.environment == "production" %}
            <div class="shareaholic-canvas" data-app="follow_buttons" data-app-id="{{ site.shareaholic.follow_buttons_app_id }}"></div>
        {% else %}
            {% include follow-buttons.html %}
        {% endif %}
    </div><!-- .card-body -->
</div><!-- .card -->
