<div class='alert alert-success' role='alert'>
    <i class='fas fa-sync-alt' aria-hidden='true'></i> <strong>Update{% if include.date %} ({{ include.date }}){% endif %}:</strong>
    {{ include.message | markdownify }}
</div>
