<!DOCTYPE html>
<html{% if site.lang %} lang="{{ site.lang }}"{% endif %} class="h-100" prefix="
    og: http://ogp.me/ns#
    fb: http://ogp.me/ns/fb#
    article: http://ogp.me/ns/article#">

{% include head.html %}

<body class="d-flex flex-column h-100" itemscope itemtype="http://schema.org/{% if page.is_post %}{{ "BlogPosting" }}{% else %}{{ "WebPage" }}{% endif %}">
    {% include header.html %}
    {% include mobile-navbar.html %}
    {% include collapsible-search.html %}

    <main class="flex-shrink-0">
        <div class="container" id="main-container">
            <div class="row">
                <div class='col-sm-8'>
                    {{ content }}
                </div>
                <div class="col-sm-4">
                    {% include sidebar.html %}
                </div>
            </div>
        </div>

        {% include footer.html %}

        {% if jekyll.environment != "production" %}
            <div id='fab'>
                <button type='button' class='btn btn-primary btn-fab-view rounded-circle'>
                    <i class='fas fa-eye'></i>
                </button>
            </div>
        {% endif %}
    </main>
</body>
</html>
