---
layout: default
---

<div class="blog-post card mb-3">
    <header class="card-header">
        <h1 class="blog-post-title" itemprop="headline name">
            <a class="blog-post-link" href="{{ page.url | prepend: site.baseurl | replace: '//', '/' }}" itemprop="mainEntityOfPage url">
                {{ page.title }}
            </a>
        </h1>
        <div class="blog-post-meta row">
            <div class='col-sm-6'>
                <p class="blog-post-date ms-auto me-auto" itemprop="datePublished" content="{{ page.date | date: "%Y-%m-%d" }}">
                    <a class='text-muted' href="{{ page.date | date: '/%Y/%m/%d/' | prepend: site.baseurl | replace: '//', '/' }}">
                        {{ page.date | date: "%b %-d, %Y" }}
                    </a>
                </p>
                <meta itemprop="dateModified" content="{{ page.last_modified_at | date: "%Y-%m-%d" }}" />
            </div>
            <div class='col-sm-6'>
                {% if site.shareaholic.site_id and site.shareaholic.share_buttons_post_meta_app_id and jekyll.environment == "production" %}
                    <div class="shareaholic-canvas" data-app="share_buttons" data-app-id="{{ site.shareaholic.share_buttons_post_meta_app_id }}"></div>
                {% endif %}
            </div><!-- .col-sm-6 -->
        </div><!-- .blog-post-meta -->
    </header>

    <article class="blog-post-content card-body">
        <div itemprop="articleBody mainEntity">
            {{ content }}
        </div>

        {% if site.shareaholic.site_id and site.shareaholic.share_buttons_post_comments_app_id %}
            <div class="gap"></div>
            <h2>Did you like it? What about sharing?</h2>
            <div class="shareaholic-canvas" data-app="share_buttons" data-app-id="{{ site.shareaholic.share_buttons_post_comments_app_id }}"></div>
        {% endif %}

        {% if site.shareaholic.site_id and site.shareaholic.related_content_app_id %}
            <div class="gap"></div>
            <h2>See also</h2>
            <p>If you liked this content, you may also be interested in:</p>
            <div class="shareaholic-canvas" data-app="recommendations" data-app-id="{{ site.shareaholic.related_content_app_id }}"></div>
        {% endif %}

        {% if site.disqus_shortname and jekyll.environment == "production" %}
            <!-- Disqus -->
            <div class="gap"></div>
            <h2>Comments</h2>
            <div id="disqus_thread"></div>
            <script>
                var disqus_config = function () {
                    this.page.url = '{{ page.url | prepend: site.baseurl | replace: "//", "/" | prepend: site.url }}';
                };

                (function() {
                    var d = document, s = d.createElement('script');

                    s.src = '//{{ site.disqus_shortname }}.disqus.com/embed.js';

                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>
                <p>Please <a href="http://www.enable-javascript.com/" target="_blank">enable JavaScript</a> to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus</a>.</p>
            </noscript>
            <!-- Disqus End -->
        {% endif %}
    </article>
</div><!-- .blog-post -->
